<body class="home-body">
  <div class="container">
      <div class="title">
        <h1 class="home-title">WELCOME<br><span class="registration">To RainCleansing</span></h1>
      </div>
      <div class="menu" id="home-menu">
          <ul>
              <li>Registration</li>
              <li>Users</li>
              <li>Log-in</li>
          </ul>
      </div>
      <div class="home-box">
          <p style="font-size: 35px;">We answered to the problem of water shortage with our device. It can clean the rain water making it viable to industry and agricultural purposes.</p>
      </div>
      <div class="void-box">

      </div>
      <div class="contacts"  id="home-box-icon">
          <div class="box-icon">
              <a href=""><img src="./assets/facebook.svg" alt="Facebook"></a>
              <a href=""><img src="./assets/instagram.svg" alt="Instagram"></a>
              <a href=""><img src="./assets/twitter.svg" alt="Twitter"></a>
          </div>
          <span class="info">Contacts: xx 0123 Via xxAaa, tel. 010/55xx123x</span><br>
          <span class="info">Copyright: dave89dc, Cherubini s.p.a.</span>
      </div>
  </div>
</body>
